<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper  
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"   
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.neusoft.dao.AdminMapper">
	<sql id="adminInfo">
		a.admin_id as adminId,
		a.username as username,
		a.password as password,
		a.create_time as createTime
	</sql>
	<sql id="userInfo" >
		a.user_id as userId,
		a.username as username,
		a.password as password,
		a.sex as sex ,
		a.email as email ,
		a.user_phone as phone,
		a.create_time as createTime,
		a.pic as pic,
		a.address as address,
		a.black_state as blackState
	</sql>
	<sql id="healthyArticle" >
		a.article_id as articleId,
		a.title as title,
		a.pic as pic,
		a.author as author,
		a.article as article,
		a.content as content,
		a.article_state as articleState,
		a.create_time as createTime,
		a.chage_article_state_time as changeAtricleStateTime
	</sql>
	<sql id="doctorInfo" >
		a.doctor_id as doctorId,
		a.username as username,
		a.password as password,
		a.sex as sex ,
		a.phone as phone,
		a.email as email,
		a.hospital as hospital,
		a.create_time as createTime,
		a.black_state as blackState
	</sql>
	<sql id="Question" >
		a.question_id as questionId,
		a.user_id as userId,
		a.title as title,
		a.detail as detail,
		a.create_time as createTime
	</sql>
	<sql id="FirstMenu" >
		a.first_menu_id as firstMenuId,
		a.nav_bar_id as navBarId,
		a.first_menu_name as firstMenuName,
		a.create_time as createTime,
		a.sort_id as sortId
	</sql>
	<sql id="UserFeedback" >
		a.user_feedback_id as userFeedbackId,
		a.user_id as userId,
		a.msg as msg,
		a.wechat as wechat,
		a.create_time as createTime
	</sql>
	<select id="adminLogin" resultType="com.neusoft.entity.Admin">
		select
		<include refid="adminInfo"></include>
		from admin a
		where a.username=#{username} order by a.create_time desc
	</select>
	<insert id="addAdmin">
		insert into admin
		value(#{adminId},#{username},#{password},#{createTime})
	</insert>
	<delete id="deleteAdmin">
		delete from admin where admin_id=#{adminId}
	</delete>
	<select id="selectAllUser" resultType="com.neusoft.entity.User">
		select
		<include refid="userInfo" />
		from user a where a.black_state='000200000010'order by a.create_time desc
	</select>
	<select id="selectAllDeleteUser" resultType="com.neusoft.entity.User">
		select
		b.msg as blackMsg,
		b.create_time as blackTime,
		<include refid="userInfo" />
		from user a
		LEFT join blacklist b
		on (a.user_id = b.user_id and b.role='000100000010')
		where a.black_state='000200000020' order by b.create_time desc
	</select>
	<select id="selectExamineHelthyArticle" resultType="com.neusoft.entity.HealthyArticle">
		SELECT
		<include refid="healthyArticle"/>
		from healthy_article a
		where a.article_state='000000000010' order by a.create_time desc
	</select>
	<select id="selectPassHelthyArticle" resultType="com.neusoft.entity.HealthyArticle">
		SELECT
		<include refid="healthyArticle"/>
		from healthy_article a
		where a.article_state='000000000020' order by a.create_time desc
	</select>
	<select id="selectOutHelthyArticle" resultType="com.neusoft.entity.HealthyArticle">
		SELECT
		<include refid="healthyArticle" />
		from healthy_article a
		where a.article_state='000000000030' order by a.create_time desc
	</select>
	<select id="selectAllAdmin" resultType="com.neusoft.entity.Admin">
		SELECT
		<include refid="adminInfo"></include>
		from admin a order by a.create_time desc
	</select>
	<insert id="deleteUserById" parameterType="com.neusoft.entity.Blacklist">
		INSERT INTO blacklist
		VALUE (#{blacklistId},#{userId},#{role},#{email},#{msg},#{createTime})
	</insert>
	<update id="updateUserBlackState">
		UPDATE user SET black_state ='000200000020' where user_id=#{userId}
	</update>
	<update id="updateDoctorBlackState">
				UPDATE doctor SET black_state ='000200000020' where doctor_id=#{doctorId}
	</update>
	<select id="selectAllDoctor" resultType="com.neusoft.entity.Doctor">
		select
		<include refid="doctorInfo"/>
		from doctor a where a.black_state='000200000010'order by a.create_time DESC
	</select>
	<select id="selectAllDeleteDoctor" resultType="com.neusoft.entity.Doctor">
		select
		bl.msg as blackMsg,
		bl.create_time as blackTime,
		<include refid="doctorInfo"/>
		from doctor a
		LEFT join blacklist bl
		on (a.doctor_id = bl.user_id and bl.role='000100000020')
		where a.black_state='000200000020' order by bl.create_time desc
	</select>
	<select id="selseAllQuestion" resultType="com.neusoft.entity.Question">
		SELECT
		<include refid="Question"/>
		FROM question a order by a.create_time desc
	</select>
	<select id="selectAllAnswerQuestion" resultType="com.neusoft.entity.AnswerQuestion">
		SELECT
		 a.answer_id as answerId,
		 a.answer_detail as answerDetail,
		 a.create_time as createTime
		 from answer_question a order by a.create_time desc
	</select>
	<select id="selectAllArticleComment" resultType="com.neusoft.entity.ArticleComment">
		SELECT
		a.comment_id as commentId,
		a.content as content,
		a.create_time as createTime,
		b.title as articleName,
		c.username as userName,
		c.email as email,
		a.user_id as userId,
		a.article_id as articleId
		FROM article_comment a
		LEFT join healthy_article b
		on a.article_id = b.article_id
		left JOIN  user c
		on a.user_id =c.user_id
		order by a.create_time desc
  	</select>
	<insert id="insertNavBar" parameterType="com.neusoft.entity.NavBar">
	  insert into nav_bar (nav_bar_id, nav_bar_name, create_time, sort_id
      )
    values (#{navBarId,jdbcType=VARCHAR}, #{navBarName,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP},#{sortId}
      )
	</insert>
	<select id="selectAllCommentReply" resultType="com.neusoft.entity.CommentReply">
		SELECT
		a.reply_id as replyId,
		a.content as content,
		a.create_time as createTime,
		a.user_id as userId,
		c.username as userName,
		c.email as email,
		b.content as commentInfo,
		d.title as articleTitle
		from comment_reply a
		left join article_comment b
		on a.comment_id = b.comment_id
		left join user c
		on a.user_id = c.user_id
		left join healthy_article d
		on a.article_id= d.article_id
		order by a.create_time desc
	</select>
	<select id="selectNavBar" resultType="com.neusoft.entity.NavBar">
		select
		a.nav_bar_id as navBarId,
		a.nav_bar_name as navBarName,
		a.create_time as createTime,
		a.sort_id as sortId
		from nav_bar a order by a.sort_id
	</select>
	<delete id="deleteNavBar">
		DELETE
		from nav_bar a where a.nav_bar_id=#{navBarId}
	</delete>
	<insert id="insertFirstMenu" parameterType="com.neusoft.entity.FirstMenu">
		insert into first_menu (first_menu_id, nav_bar_id, first_menu_name,
      	create_time,sort_id)
    	values (#{firstMenuId,jdbcType=VARCHAR}, #{navBarId,jdbcType=VARCHAR}, #{firstMenuName,jdbcType=VARCHAR},
      	#{createTime,jdbcType=TIMESTAMP},#{sortId})
	</insert>
	<select id="selectFirstMenu" resultType="com.neusoft.entity.FirstMenu">
		SELECT
		<include refid="FirstMenu" />
		FROM first_menu a order by a.create_time desc
	</select>
	<select id="selectFirstMenuByNavBarId" resultType="com.neusoft.entity.FirstMenu">
		SELECT
		<include refid="FirstMenu" />
		FROM  first_menu a where a.nav_bar_id=#{navBarId} order by a.sort_id
	</select>
	<delete id="deleteFirstMenu">
		DELETE
		FROM first_menu a where a.first_menu_id=#{firstMenuId}
	</delete>
	<insert id="insertFeedback" parameterType="com.neusoft.entity.UserFeedBack">
	  insert into user_feedback (user_feedback_id, user_id, msg,
      wechat, create_time)
      values (#{userFeedbackId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{msg,jdbcType=VARCHAR},
      #{wechat,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP})
	</insert>
	<select id="selectFeedback" resultType="com.neusoft.entity.UserFeedBack">
		SELECT
		b.username as username,
		b.user_phone as phone,
		b.email as email,
		<include refid="UserFeedback" />
		from user_feedback a
		LEFT JOIN user b
		on a.user_id = b.user_id
		where a.msg LIKE  CONCAT(CONCAT('%',#{msg}), '%')   order by a.create_time desc
	</select>
	<delete id="deleteFeedback">
		DELETE
		FROM  user_feedback  where user_feedback_id=#{userFeedbackId}
	</delete>
	<update id="cancelBlackUser" >
		UPDATE user SET black_state ='000200000010' where user_id=#{userId}
	</update>
	<update id="cancelBlackDoct">
		UPDATE doctor SET black_state ='000200000010' where doctor_id=#{doctorId}
	</update>
	<delete id="deleteCommentById">
		DELETE
		FROM  article_comment  where comment_id=#{commentId}
	</delete>
	<delete id="deleteReplyById">
		DELETE
		FROM comment_reply where reply_id=#{replyId}
	</delete>
	<select id="selectAdminByName" resultType="java.lang.String">
		SELECT
		a.username
		FROM admin a where a.username=#{adminName}
	</select>
	<update id="changePassword">
		UPDATE
		admin a SET a.password=#{password} where a.admin_id=#{adminId}
	</update>
	<select id="selectAdminById" resultType="com.neusoft.entity.Admin">
		SELECT
		<include refid="adminInfo"/>
		from admin a where a.admin_id=#{adminId}
	</select>
</mapper>